<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="theme-color" content="#000000" />
</head>
<body>
  <div id="root">{{HTML}}</div>
  <script>
    window.__INITIAL_STATE__ = {{INITIAL_STATE}}
  </script>
</body>
</html>
